@model AddressBook.Models.ChangeEmailAddressViewModel
@{
    ViewBag.Title = "Change Email Address";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeEmailAddress", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Email Address Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldEmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OldEmailAddress, new { @class = "form-control", @readonly="true" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewEmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change email address" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}