@model AddressBook.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>
            [

            @Html.ActionLink("Change your first name", "ChangeFirstName")

            ]
        </dd>
        <dt>Last Name:</dt>
        <dd>
            [

            @Html.ActionLink("Change your last name", "ChangeLastName")

            ]
        </dd>
        <dt>Email Address:</dt>
        <dd>
            [
            
               @Html.ActionLink("Change your email address", "ChangeEmailAddress")
            
            ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
